body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1-6;
    color:#ffffff;
    max-width: 1000px;
    margin:0 auto;
    padding: 20px;
    background-color: #858585;
    text-align: center;
}
h1, h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}
.lista-topico{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

li {
    list-style-type: none;
}

.lista-topico:hover {
    transform: translate(-5x);
}

li {
    margin-bottom: 15px;
    padding-left: 30px;
}
a {
    color: #ffffff;
    text-decoration: none;

}
.conteudo-artigo {
    
}